.Result {
  border-bottom: solid 1px lightgray;
  padding: 0.25rem 0;
  font-size: 24px;
}

.Formula {
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0;
  align-items: center;

  .operator {
    color: #e623cf;
    margin: 0 2px;
  }
}
